<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title> Network Admin </title>

   <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    
  </head>



  </head>
  <body>



<ul class="nav navbar-light" style="background-color: #e3f2fd;">
 <li class="nav-item"><a class="nav-link" href="{{ url_for('test',ip='192.168.0.1') }}"> Home </a></li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('router') }}" >Telnet</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('myrouter') }}" >Routers</a>
  </li>
  <li class="active">
    <a class="nav-link" href="{{ url_for('upload_file1') }}" >Upload Script<span class="sr-only">(current)</span></a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('connection') }}" >Network</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('lan') }}" >LAN</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('mylogs') }}" >Logs</a>
  </li>
  <li class="nav-item">
    <a type="button" class="btn btn-secondary" href="{{ url_for('logout') }}">Logout => </a> 
  </li>
</ul>

</br>
</br>

<div class="card">
  <h4 class="card-header">Network connectivity </h4>
  <div class="card-body">
    <h5 class="card-title">NETWORKS</h5>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='img/server.svg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SERVER 01 :</h5>
      <p class="card-text"> <a href="http://mysoftwaretechmart.pythonanywhere.com">mysoftwaretechmart.pythonanywhere.com</a> </p>
    </div>
    <div class="card-footer">
{% if con[0] %}
<div class="alert alert-success" role="alert"> Connected </div>
{% else %}
<div class="alert alert-danger" role="alert"> Not Connected </div>
{% endif %}
      <small class="text-muted">Last checked {{ t }}</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='img/server.svg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SERVER 02</h5>
      <p class="card-text">Test Server</p>
    </div>
    <div class="card-footer">
{% if con[0] %}
<div class="alert alert-success" role="alert"> Connected </div>
{% else %}
<div class="alert alert-danger" role="alert"> Not Connected </div>
{% endif %}
      <small class="text-muted">Last Checked {{ t }}</small>
    </div>
  </div>

 <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='img/network.png') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Internet / WAN</h5>
      <p class="card-text">LAN / WAN connection</p>
    </div>
    <div class="card-footer">
{% if con[0] %}
<div class="alert alert-success" role="alert"> Connected </div>
{% else %}
<div class="alert alert-danger" role="alert"> Not Connected </div>
{% endif %}
      <small class="text-muted">Last Checked {{ t }}</small>
    </div>
  </div>

 <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='img/mysql.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> DataBase </h5>
      <p class="card-text">Local Mysql database at localhost:3306</p>
    </div>
    <div class="card-footer">
{% if con[1] %}
<div class="alert alert-success" role="alert"> Connected </div>
{% else %}
<div class="alert alert-danger" role="alert"> Not Connected </div>
{% endif %}
      <small class="text-muted">Last Checked {{ t }}</small>
    </div>
  </div>

  <div class="card"></br>
    <img class="card-img-top" src="{{ url_for('static', filename='img/router.png') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ROUTER 01</h5>
      <p class="card-text">LAN Router</p>
    </div>
    <div class="card-footer">
{% if con[1] %}
<div class="alert alert-success" role="alert"> Connected </div>
{% else %}
<div class="alert alert-danger" role="alert"> Not Connected </div>
{% endif %}
      <small class="text-muted">Last Checked {{ t }}</small>
    </div>
  </div>
</div>
</br>
    <a href="{{ url_for('connection') }}" class="btn btn-primary">Check Connection</a>
  </div>
</div>


 
  </body>
</html>

