<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title> Network Admin </title>

   <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    
  </head>



  </head>
  <body>



<ul class="nav navbar-light" style="background-color: #e3f2fd;">
 <li class="active"><a class="nav-link" href="{{ url_for('test',ip='192.168.0.1') }}"> Home <span class="sr-only">(current)</span></a></li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('router') }}" >Telnet</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('myrouter') }}" >Routers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('upload_file1') }}" >Upload Script</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('connection') }}" >Network</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('lan') }}" >LAN</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('mylogs') }}" >Logs</a>
  </li>
  <li class="nav-item">
    <a type="button" class="btn btn-secondary" href="{{ url_for('logout') }}">Logout => </a> 
  </li>
</ul>


<div class="card">
  <div class="card-body">
{% if r %}
 <div class="card">
  <div class="card-body">

 <!-- memory progress --> 
<h3>Memory Used ( {{ mem }} )</h3>
</br>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 63%"></div>
</div>
</br>
 <!-- cpu progress --> 
<h3>CPU Used ( {{ cpu }}% )</h3>
</br>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ cpu }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ cpu }}%"></div>
</div>

</div>

</div>
</br>
</br>

<a type="button" href="{{ url_for('restart') }}" class="btn btn-secondary btn-lg"> <bold> REBOOT </bold> </a>
   <!-- Containers table -->
</br></br>
                        <div class="panel-body">
				<h3> Mac Table </h3>

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
			                        <th> </th>
                                                <th>Mac Address </th> <th>Port </th> <th>(bitmap) </th> <th>Type </th><th>aging </th>
						

                                        </tr>
                                    </thead>
                                    <tbody>

					{% for c in myuser %}
                                        <tr>
						{% for d in c %}

                                            <td>{{ d }}</td>
                                            {% endfor %}

                                        </tr>
					{% endfor %}







				</tbody>
                                </table>
</br></br>
<h3> ARP Table </h3>
   <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
			                        <th>  </th>
                                                
						<th>Protocol</th>     <th>Address</th>         <th>Age(min)</th> <th>Hardware Addr</th>   <th>Type</th>   <th>Interface</th>


                                        </tr>
                                    </thead>
                                    <tbody>

					{% for d in mu %}
                                        <tr>
						{% for e in d %}

                                            <td>{{ e }}</td>
                                            {% endfor %}

                                        </tr>
					{% endfor %}







				</tbody>
                                </table>
				</div>





                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
{% else %}

<div class="alert alert-danger" role="alert">
  <strong>Router is not connected !</strong>
</div>
</br>
<a href="{{ url_for('connection') }}" class="btn btn-outline-success" role="button" aria-pressed="true"> Troubleshoot </a>

{% endif %}



  </div>
</div>


  </body>
</html>

